#interfaceWrapper {
	position: relative;
	width: 376px;
	height: 375px;
	margin: 0 auto;
}

.interfaceImg {
	position: absolute;
	top: 0;
	left: 0;
}

#micAnimated {
	display: none;
}

#loadingImg {
	top: 77.5px;
	left: 77.5px;
}

#transcript {
	display: none;
	border: 1px black solid;
	height: 30px;
}

.audioTrack {
	display: none;
}

#textInput, #transcript {
	display: none;
}

#messageText {
	width: 500px;
	height: 30px;
	margin-bottom: 10px;
}

#debugLabel {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 10px;
}

#debugControls {
	position: fixed;
	top: 10;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	width: 200px;
	display: none;
}

#debugControls > label {
	margin-right: 10px;
}