#interfaceWrapper {
	position: relative;
	width: 376px;
	height: 375px;
	margin: 0 auto;
}

.interfaceImg {
	position: absolute;
	top: 0;
	left: 0;
}

#micAnimated {
	display: none;
}

#loadingImg {
	top: 77.5px;
	left: 77.5px;
}

#transcript {
	border: 1px black solid;
	height: 30px;
}

.audioTrack {
	display: none;
}