.interfaceWrapper {
	position: relative;
	width: 376px;
	height: 375px;
	margin: 0 auto;
}

.interfaceImg {
	position: absolute;
	top: 0;
	left: 0;
}

.micAnimated {
	display: none;
}

.loadingImg {
	top: 77.5px;
	left: 77.5px;
}

.transcript {
	display: none;
	border: 1px black solid;
	height: 30px;
  margin-bottom: 1e;
}

.audioTrack {
	display: none;
}

.textInput, .transcript {
	display: none;
}

.textInput {
	margin-top: 10px;
	width: 100%;
}

.messageText {
	width: 90%;
	height: 30px;
	margin-bottom: 10px;
}

.response {
	width: 100%;
	height: 30px;
	border: 1px solid black;
}

.debugLabel {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.panel {
	position: absolute;
	top: 10px;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	width: 220px;
}

.panel > label {
  margin-right: 10px;
}

.displayControls {
  right: 10px;
}

.debugControls {
  display: none;
}

.htmlOutput {
  height: 500px;
  width: 100%;

  .poster-image {
    width: 180px;
    height: auto;
  }
}